@import "@shared/styles/mixins";
@import "@shared/styles/variables";

.faqGroup {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.accordion {
  &__item {
    width: 90%;
    border-bottom: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
    transition: all 0.3s ease;
    font-family: "PT Sans", sans-serif;

    @include respond-to("lg") {
      width: 60%;
    }
  }
  &__question {
    @apply p-4;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #e1e1e2;
    transition: background-color 0.3s ease;

    @include respond-to("tablet_sm") {
      font-size: clamp(12px, 24 / 1024 * 100vw, 48px);
    }

    @include respond-to("tablet") {
      font-size: clamp(12px, 24 / 1100 * 100vw, 48px);
    }

    @include respond-to("lg") {
      @apply text-base;
    }

    @include respond-to("2xl") {
      @apply text-base;
    }

    @include respond-to("xl") {
      @apply text-base;
    }

    @include respond-to("2xl") {
      @apply text-base;
    }

    @include respond-to("3xl") {
      @apply text-base;
    }

    @include respond-to("4xl") {
      @apply text-base;
    }

    @include respond-to("5xl") {
      @apply text-base;
    }

    @include respond-to("6xl") {
      @apply text-base;
    }

    &:hover {
      background-color: #f0f0f0; /* Slight hover effect */
    }
  }
  &__toggle {
    background: none;
    border: none;
    font-size: 18px;
    color: #333;
    cursor: pointer;
    transition: transform 0.3s ease;

    &.open {
      transform: rotate(180deg);
    }
  }
  &__answer {
    @apply p-4;
    background-color: #f9f9f9;
    border-top: 1px solid #ddd;
    animation: fadeIn 1s ease;

    @include respond-to("tablet_sm") {
      font-size: clamp(9px, 18 / 1024 * 100vw, 36px);
    }

    @include respond-to("tablet") {
      font-size: clamp(9px, 18 / 1100 * 100vw, 36px);
    }

    @include respond-to("lg") {
      font-size: clamp(9px, 18 / 1200 * 100vw, 36px);
    }

    @include respond-to("2xl") {
      font-size: clamp(9px, 18 / 1280 * 100vw, 36px);
    }

    @include respond-to("xl") {
      font-size: clamp(9px, 18 / 1360 * 100vw, 36px);
    }

    @include respond-to("2xl") {
      font-size: clamp(9px, 18 / 1520 * 100vw, 36px);
    }

    @include respond-to("3xl") {
      font-size: clamp(9px, 18 / 1680 * 100vw, 36px);
    }

    @include respond-to("4xl") {
      font-size: clamp(9px, 18 / 1920 * 100vw, 36px);
    }

    @include respond-to("5xl") {
      font-size: clamp(9px, 18 / 2560 * 100vw, 36px);
    }

    @include respond-to("6xl") {
      font-size: clamp(9px, 18 / 3840 * 100vw, 36px);
    }
  }
}
.faq {
  &__group {
    width: 100%;
    @apply mt-8;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
