@import "@shared/styles/mixins";
@import "@shared/styles/variables";
.full_news {
  width: 90%;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  @apply mt-14;
  @apply mb-14;
  position: relative;

  &__heading {
    @apply font-bold;
    @apply text-center mt-4;
    font-size: clamp(14px, 24 / 360 * 100vw, 46px);

    @include respond-to("tablet_sm") {
      font-size: clamp(14px, 28 / 1024 * 100vw, 56px);
    }

    @include respond-to("tablet") {
      font-size: clamp(14px, 28 / 1100 * 100vw, 56px);
    }

    @include respond-to("lg") {
      font-size: clamp(14px, 28 / 1200 * 100vw, 56px);
    }

    @include respond-to("2xl") {
      font-size: clamp(14px, 28 / 1280 * 100vw, 56px);
    }

    @include respond-to("xl") {
      font-size: clamp(14px, 28 / 1360 * 100vw, 56px);
    }

    @include respond-to("2xl") {
      font-size: clamp(14px, 28 / 1520 * 100vw, 56px);
    }

    @include respond-to("3xl") {
      font-size: clamp(14px, 28 / 1680 * 100vw, 56px);
    }

    @include respond-to("4xl") {
      font-size: clamp(14px, 28 / 1920 * 100vw, 56px);
    }

    @include respond-to("5xl") {
      font-size: clamp(14px, 28 / 2560 * 100vw, 56px);
    }

    @include respond-to("6xl") {
      font-size: clamp(14px, 28 / 3840 * 100vw, 56px);
    }
  }
  &__img {
    position: absolute;
    z-index: -10;
  }
}
.full_news_pc {
  display: none;
}
@include respond-to("tablet_sm") {
  .full_news_pc {
    width: 60%;
    @apply mb-12 p-12;
    display: flex;
    min-height: 75vh;
    flex-direction: column;
    align-items: start;
    position: relative;
    @include respond-to("lg") {
      min-height: 50vh;
    }
    &__heading {
      width: 100%;
      line-height: 48px;
      @apply font-bold mt-4;
      position: relative;

      &::before {
        content: "";
        display: block;
        width: 20%;
        height: 6px;
        @apply bg-main;
        position: absolute;
        bottom: -12px;
        left: 0;
      }

      font-size: clamp(18px, 36 / 1024 * 100vw, 72px);

      @include respond-to("tablet_sm") {
        font-size: clamp(18px, 36 / 1024 * 100vw, 72px);
      }

      @include respond-to("tablet") {
        font-size: clamp(18px, 36 / 1100 * 100vw, 72px);
      }

      @include respond-to("lg") {
        font-size: clamp(18px, 36 / 1200 * 100vw, 72px);
      }

      @include respond-to("2lg") {
        font-size: clamp(18px, 36 / 1280 * 100vw, 72px);
      }

      @include respond-to("xl") {
        font-size: clamp(18px, 36 / 1360 * 100vw, 72px);
      }

      @include respond-to("2xl") {
        font-size: clamp(18px, 36 / 1520 * 100vw, 72px);
      }

      @include respond-to("3xl") {
        font-size: clamp(18px, 36 / 1680 * 100vw, 72px);
      }

      @include respond-to("4xl") {
        font-size: clamp(18px, 36 / 1920 * 100vw, 72px);
      }

      @include respond-to("5xl") {
        font-size: clamp(18px, 36 / 2560 * 100vw, 72px);
      }

      @include respond-to("6xl") {
        font-size: clamp(18px, 36 / 3840 * 100vw, 72px);
      }
    }
    &__img {
      @apply mt-12;

      width: 100%;
      height: clamp(150px, 300 / 1024 * 100vh, 600px);
      @include respond-to("lg") {
        height: clamp(500px, 1000 / 1360 * 100vh, 2000px);
      }
    }
    &__p {
      line-height: 1.5rem;
      @apply mt-8;
      width: 100%;
      font-size: clamp(9px, 18 / 1024 * 100vw, 36px);

      @include respond-to("tablet_sm") {
        font-size: clamp(9px, 18 / 1024 * 100vw, 36px);
      }

      @include respond-to("tablet") {
        font-size: clamp(9px, 18 / 1100 * 100vw, 36px);
      }

      @include respond-to("lg") {
        font-size: clamp(9px, 18 / 1200 * 100vw, 36px);
      }

      @include respond-to("2lg") {
        font-size: clamp(9px, 18 / 1280 * 100vw, 36px);
      }

      @include respond-to("xl") {
        font-size: clamp(9px, 18 / 1360 * 100vw, 36px);
      }

      @include respond-to("2xl") {
        font-size: clamp(9px, 18 / 1520 * 100vw, 36px);
      }

      @include respond-to("3xl") {
        font-size: clamp(9px, 18 / 1680 * 100vw, 36px);
      }

      @include respond-to("4xl") {
        font-size: clamp(9px, 18 / 1920 * 100vw, 36px);
      }

      @include respond-to("5xl") {
        font-size: clamp(9px, 18 / 2560 * 100vw, 36px);
      }

      @include respond-to("6xl") {
        font-size: clamp(9px, 18 / 3840 * 100vw, 36px);
      }
    }
  }

  .full_news {
    display: none;
  }
}
