.contacts_wrapper {
  position: relative;
}

.contacts_button {
  width: 64px;
  height: 64px;
  position: fixed;
  bottom: 32px;
  right: 16px;
  border: none;
  color: white;
  cursor: pointer;
  transition: transform 0.3s;
  z-index: 10;
  @apply rounded-full;
  @apply text-2xl;
  @apply bg-main;
  &:hover {
    transform: scale(1.1);
  }
}

.icons_wrapper {
  position: fixed; // Changed from absolute to fixed
  bottom: 30px; // Adjust this to position the icons above the button
  right: 24px; // Same as button's right position
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  opacity: 1;
  z-index: 20; // Higher than the button to appear above it
}

.icon {
  width: 48px;
  height: 48px;
  color: #fff;
  border-radius: 50%;
  font-size: 24px;
  transition: 0.3s all;
  display: flex;
  align-items: center;
  justify-content: center;
  @apply bg-blue-500;

  &:hover {
    transform: scale(1.2);
  }
}

.icon_wa {
  width: 48px;
  height: 48px;
  color: #fff;
  border-radius: 50%;
  font-size: 24px;
  transition: 0.3s all;
  display: flex;
  align-items: center;
  justify-content: center;
  @apply bg-green-400;

  &:hover {
    transform: scale(1.2);
  }
}
