@import "@shared/styles/mixins";
@import "@shared/styles/variables";

.side_panel {
  @apply h-screen sticky top-0 left-0 z-50 bg-white flex flex-col justify-around items-center shadow-lg;
  width: 250px; // Default expanded width
  transition: width 0.5s ease;
  @include respond-to("tablet_sm") {
    @apply h-[85vh];
  }
  @include respond-to("lg") {
    @apply h-screen;
  }

  &.collapsed {
    width: 80px; // Collapsed state width
  }

  &__img {
    @apply mt-16 cursor-pointer;
    width: clamp(80px, 8.3328vw, 120px);
    height: clamp(50px, 5.208vw, 80px);
  }

  &__header {
    @apply w-full px-4 flex justify-between items-center;
  }

  &__toggle_button {
    @apply text-main text-2xl bg-transparent border-none cursor-pointer;
  }

  &__nav {
    @apply w-full mt-8;

    &__item {
      @apply py-4 flex items-center justify-start;
    }

    &__link {
      @apply text-dark text-xl font-bold transition-colors duration-300 cursor-pointer flex items-center gap-4;
      white-space: nowrap;

      &:hover {
        @apply text-hover;
      }
    }

    &__text {
      display: inline-block;
    }
  }
}

.side_panel_mob {
  @apply w-[90%] flex items-center justify-between fixed top-0 left-0 z-50 bg-white pt-8;
  transform: translateX(-100%);
  transition: transform 0.5s ease;

  @include respond-to("tablet_sm") {
    @apply w-[75%];
  }

  &__header {
    @apply w-full flex justify-between items-center px-4;
  }

  &__toggle_button {
    @apply text-main text-2xl bg-transparent border-none cursor-pointer;
  }

  &__img {
    @apply cursor-pointer;
  }

  &__nav {
    @apply w-full mt-8;

    &__item {
      @apply py-4;
    }

    &__link {
      @apply text-dark text-xl font-bold transition-colors duration-300 cursor-pointer;

      &:hover {
        @apply text-hover;
      }
    }
  }
}
