@import "@shared/styles/mixins";
@import "@shared/styles/variables";

.header {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @apply pt-8;

  &__logo {
    @include respond-to("xxs") {
      width: clamp(30px, 60 / 390 * 100vh, 120px);
      height: clamp(30px, 60 / 390 * 100vh, 120px);
    }

    @include respond-to("xs") {
      width: clamp(30px, 60 / 480 * 100vh, 120px);
      height: clamp(30px, 60 / 480 * 100vh, 120px);
    }
    @include respond-to("md") {
      width: clamp(20px, 80 / 992 * 100vh, 110px);
      height: clamp(20px, 80 / 992 * 100vh, 110px);
    }
  }
}

@include respond-to("xxxs") {
  .header_pc {
    display: none;
  }

  .header {
    display: flex;
  }
}

@include respond-to("tablet_sm") {
  .dropdown {
    display: none;
    position: absolute;
    border-radius: 16px;
    top: 60%;
    left: -0.5rem;
    background-color: white;
    min-width: 160px;
    z-index: 1;
    &__list {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: start;
      &__item {
        @apply p-2;
      }
    }
  }

  .header_pc {
    width: 86.6%;
    justify-content: space-between;
    display: flex;

    &__logo {
      width: 128px;
      height: 128px;
      cursor: pointer;
    }

    &__nav {
      display: flex;
      align-items: center;
      @apply gap-4;
      position: relative;

      &__link {
        font-family: "Montserrat";
        transition: 0.3s all;
        @apply font-medium;
        @apply text-dark;
        @apply text-sm;

        &:hover {
          @apply text-main;
        }
      }
    }
    &__email {
      @apply text-lg text-main;
    }
  }

  .hover_link:hover + .dropdown {
    display: block;
  }
  .dropdown:hover {
    display: block;
  }
  .header {
    display: none;
  }
}
