@import "@shared/styles/mixins";
@import "@shared/styles/variables";

.service {
  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
