@import "@shared/styles/mixins";
@import "@shared/styles/variables";
.faq {
  @apply mt-14;
  width: 86.6%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  @apply mb-14;
  &__heading {
    @apply font-bold;
    @apply text-center;
    font-size: clamp(14px, 24 / 360 * 100vw, 46px);

    @include respond-to("tablet_sm") {
      line-height: 48px;
      font-size: clamp(14px, 28 / 1024 * 100vw, 56px);
    }

    @include respond-to("tablet") {
      font-size: clamp(14px, 28 / 1100 * 100vw, 56px);
    }

    @include respond-to("lg") {
      font-size: clamp(14px, 28 / 1200 * 100vw, 56px);
    }

    @include respond-to("2xl") {
      font-size: clamp(14px, 28 / 1280 * 100vw, 56px);
    }

    @include respond-to("xl") {
      font-size: clamp(14px, 28 / 1360 * 100vw, 56px);
    }

    @include respond-to("2xl") {
      font-size: clamp(14px, 28 / 1520 * 100vw, 56px);
    }

    @include respond-to("3xl") {
      font-size: clamp(14px, 28 / 1680 * 100vw, 56px);
    }

    @include respond-to("4xl") {
      font-size: clamp(14px, 28 / 1920 * 100vw, 56px);
    }

    @include respond-to("5xl") {
      font-size: clamp(14px, 28 / 2560 * 100vw, 56px);
    }

    @include respond-to("6xl") {
      font-size: clamp(14px, 28 / 3840 * 100vw, 56px);
    }
  }
}
