@import "@shared/styles/mixins";
@import "@shared/styles/variables";
.additional_service {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  @apply mt-14;
  @apply mb-14;
  position: relative;

  @include respond-to("tablet_sm") {
    height: 70vh;
    justify-content: center;
  }

  @include respond-to("lg") {
    height: inherit;
    justify-content: start;
  }

  &__heading {
    @apply font-bold;
    @apply text-center;
    font-size: clamp(14px, 24 / 360 * 100vw, 46px);

    @include respond-to("tablet_sm") {
      font-size: clamp(14px, 28 / 1024 * 100vw, 56px);
    }

    @include respond-to("tablet") {
      font-size: clamp(14px, 28 / 1100 * 100vw, 56px);
    }

    @include respond-to("lg") {
      font-size: clamp(14px, 28 / 1200 * 100vw, 56px);
    }

    @include respond-to("2xl") {
      font-size: clamp(14px, 28 / 1280 * 100vw, 56px);
    }

    @include respond-to("xl") {
      font-size: clamp(14px, 28 / 1360 * 100vw, 56px);
    }

    @include respond-to("2xl") {
      font-size: clamp(14px, 28 / 1520 * 100vw, 56px);
    }

    @include respond-to("3xl") {
      font-size: clamp(14px, 28 / 1680 * 100vw, 56px);
    }

    @include respond-to("4xl") {
      font-size: clamp(14px, 28 / 1920 * 100vw, 56px);
    }

    @include respond-to("5xl") {
      font-size: clamp(14px, 28 / 2560 * 100vw, 56px);
    }

    @include respond-to("6xl") {
      font-size: clamp(14px, 28 / 3840 * 100vw, 56px);
    }
  }
  &__img {
    position: absolute;
    z-index: -10;
  }
}
