@import "@shared/styles/mixins";
@import "@shared/styles/variables";

.main_screen {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  @apply mt-12;

  &__logo {
    position: absolute;
    z-index: -10;
  }

  &__heading {
    @apply font-bold;
    @apply text-center;
    @include respond-to("xxxs") {
      font-size: clamp(14px, 28 / 360 * 100vw, 46px);
    }
  }
  &__clients {
    @apply mt-8;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  &__img {
    width: 80%;
    @apply rounded-lg;
    @apply mt-8;
  }
}

@include respond-to("xxxs") {
  .main_screen_pc {
    display: none;
  }

  .main_screen {
    display: flex;
  }
}

@include respond-to("tablet_sm") {
  .main_screen_pc {
    max-width: 86.6%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    @apply mt-24;

    &__heading {
      width: 100%;
      text-align: left;
      line-height: 48px;
      @apply font-bold;

      @include respond-to("tablet_sm") {
        font-size: clamp(18px, 36 / 1024 * 100vw, 72px);
      }

      @include respond-to("tablet") {
        font-size: clamp(18px, 36 / 1100 * 100vw, 72px);
      }

      @include respond-to("lg") {
        width: 90%;
        font-size: clamp(18px, 36 / 1200 * 100vw, 72px);
      }

      @include respond-to("2xl") {
        font-size: clamp(18px, 36 / 1280 * 100vw, 72px);
      }

      @include respond-to("xl") {
        font-size: clamp(18px, 36 / 1360 * 100vw, 72px);
      }

      @include respond-to("2xl") {
        font-size: clamp(18px, 36 / 1520 * 100vw, 72px);
      }

      @include respond-to("3xl") {
        font-size: clamp(18px, 36 / 1680 * 100vw, 72px);
      }

      @include respond-to("4xl") {
        font-size: clamp(18px, 36 / 1920 * 100vw, 72px);
      }

      @include respond-to("5xl") {
        font-size: clamp(18px, 36 / 2560 * 100vw, 72px);
      }

      @include respond-to("6xl") {
        font-size: clamp(18px, 36 / 3840 * 100vw, 72px);
      }
    }
    &__img {
      width: clamp(312px, 32.49792vw, 1248px);
      height: clamp(369px, 38.43504vw, 1476px);
      border-radius: 16px;

      @include respond-to("5xl") {
        width: clamp(400px, 1300 / 2560 * 100vh, 1600px);
        height: clamp(500px, 1600 / 2560 * 100vh, 2000px);
      }
    }
  }

  .main_screen {
    display: none;
  }
}
