@import "@shared/styles/mixins";
@import "@shared/styles/variables";
.rates {
  &__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
}
