@import "@shared/styles/mixins";
@import "@shared/styles/variables";

.item {
  @apply mt-6;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__img {
    width: clamp(160px, 74.7648vw, 640px);
    height: clamp(120px, 56.0736vw, 480px);
  }
}
