.track {
  &__block {
    @apply mt-8;
    width: 100%;
    background-image: url("@assets/blue_lines.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    background-position: center;
    @apply pt-12;
    @apply pr-4;

    &__img {
      width: 100%;
      @apply mt-12;
      @apply mb-8;
    }
    &__title {
      @apply font-bold;
      @apply text-center;
      font-size: clamp(9px, 18 / 360 * 100vw, 36px);
      width: 80%;
      text-align: start;
    }
    &__description {
      @apply text-base;
      text-align: left;
      @apply mt-4;
    }
  }
  &__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    @apply pl-8;
  }
}
