@import "@shared/styles/mixins";
@import "@shared/styles/variables";

.add_package {
  &__form {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
    @apply mt-8;
  }
}
.button_group {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
}
.add_package_pc {
  display: flex;
  flex-direction: column;
  @apply gap-4;
  &__form {
    @apply mt-4;
  }
}
