@import "@shared/styles/mixins";
@import "@shared/styles/variables";
.footer {
  &__nav {
    @apply mt-8;
    @apply pb-8;
    &__list {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 0.5rem;
    }
    &__item {
      &__link {
        color: #f9f9f9;
        font-size: clamp(14px, 20 / 360 * 100vw, 46px);
      }
    }
  }
}
.footer_pc {
  &__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__list {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
    &__item {
      &__link {
        color: #f9f9f9;
        @include respond-to("tablet_sm") {
          font-size: clamp(6px, 12 / 1100 * 100vw, 24px);
        }

        @include respond-to("tablet") {
          font-size: clamp(6px, 12 / 1100 * 100vw, 24px);
        }

        @include respond-to("lg") {
          font-size: clamp(6px, 12 / 1200 * 100vw, 24px);
        }

        @include respond-to("2xl") {
          font-size: clamp(6px, 12 / 1280 * 100vw, 24px);
        }

        @include respond-to("xl") {
          font-size: clamp(6px, 12 / 1360 * 100vw, 24px);
        }

        @include respond-to("2xl") {
          font-size: clamp(6px, 12 / 1520 * 100vw, 24px);
        }

        @include respond-to("3xl") {
          font-size: clamp(6px, 12 / 1680 * 100vw, 24px);
        }

        @include respond-to("4xl") {
          font-size: clamp(6px, 12 / 1920 * 100vw, 24px);
        }

        @include respond-to("5xl") {
          font-size: clamp(6px, 12 / 2560 * 100vw, 24px);
        }

        @include respond-to("6xl") {
          font-size: clamp(6px, 12 / 3840 * 100vw, 24px);
        }
      }
    }
  }
}
