@mixin respond-to($breakpoint, $orientation: null) {
  @if map-has-key($breakpoints, $breakpoint) {
    $breakpoint-value: map-get($breakpoints, $breakpoint);

    @if $orientation == "portrait" {
      @media (min-width: $breakpoint-value) and (orientation: portrait) {
        @content;
      }
    } @else if $orientation == "landscape" {
      @media (min-width: $breakpoint-value) and (orientation: landscape) {
        @content;
      }
    } @else {
      @media (min-width: $breakpoint-value) {
        @content;
      }
    }
  } @else {
    @warn "Unknown breakpoint: #{$breakpoint}";
  }
}
