---
const { title, description } = Astro.props;

import "@shared/styles/global.scss";

import { Footer } from "@features/Footer/ui/footer";
import { ProfileHeader } from "@features/ProfileHeader";
import { ProfileMenu } from "@shared/ui/ProfileMenu/ui/index";
import { SidePanel } from "@shared/ui/SidePanel";
import { Loader } from "@widgets/ui/Loader/ui/loader";
---

<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.png" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content={description} />
  </head>
  <body>
    <div class="container_single">
      <ProfileMenu client:load />
      <ProfileHeader client:load />
      <Loader client:load />
      <div class="w-full flex flex-col lg:flex-row">
        <div class="w-full flex flex-col items-center lg:hidden">
          <!-- Добавить мобильную версию SidePanel -->
        </div>
        <div class="hidden lg:block xl:w-[20%] lg:w-[30%]">
          <SidePanel client:only />
        </div>
        <div
          class="w-full lg:w-[70%] xl:w-[80%] flex flex-col items-center lg:flex lg:flex-col lg:items-center lg:justify-center"
        >
          <slot />
        </div>
      </div>
      <Footer client:load />
    </div>
  </body>
</html>
