---
const { title, description } = Astro.props;

import "@shared/styles/global.scss";

import { Footer } from "@features/Footer/ui/footer";
import { Header } from "@features/ui/Header/header";
---

<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.png" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="preload"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
      as="style"
    />
    <link
      rel="preload"
      href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap"
      as="style"
    />
    <title>{title}</title>
    <meta name="description" content={description} />
  </head>
  <body>
    <div class="container">
      <Header client:load isMobile />
      <slot />
      <Footer client:load />
    </div>
  </body>
</html>
