@import "@shared/styles/mixins";
@import "@shared/styles/variables";

.about {
  &__card {
    @include respond-to("tablet_sm") {
      flex: 1;
    }
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__item {
      padding: clamp(25px, 11.681999999999999vw, 100px) 0px;

      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 16px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      @apply mt-12;
      @include respond-to("tablet_sm") {
        @apply p-4;
      }
    }
    &__img {
      @apply mb-6;
    }
    &__title {
      @apply font-bold;
      @apply text-center;
      font-size: clamp(9px, 18 / 360 * 100vw, 36px);

      @include respond-to("tablet_sm") {
        font-size: clamp(9px, 18 / 1024 * 100vw, 36px);
      }

      @include respond-to("tablet") {
        font-size: clamp(9px, 18 / 1100 * 100vw, 36px);
      }

      @include respond-to("lg") {
        font-size: clamp(9px, 18 / 1200 * 100vw, 36px);
      }

      @include respond-to("2xl") {
        font-size: clamp(9px, 18 / 1280 * 100vw, 36px);
      }

      @include respond-to("xl") {
        font-size: clamp(9px, 18 / 1360 * 100vw, 36px);
      }

      @include respond-to("2xl") {
        font-size: clamp(9px, 18 / 1520 * 100vw, 36px);
      }

      @include respond-to("3xl") {
        font-size: clamp(9px, 18 / 1680 * 100vw, 36px);
      }

      @include respond-to("4xl") {
        font-size: clamp(9px, 18 / 1920 * 100vw, 36px);
      }

      @include respond-to("5xl") {
        font-size: clamp(9px, 18 / 2560 * 100vw, 36px);
      }

      @include respond-to("6xl") {
        font-size: clamp(9px, 18 / 3840 * 100vw, 36px);
      }
    }
    &__paragraph {
      @apply text-base;
      @apply text-center mt-4;
      width: 80%;

      @include respond-to("xs") {
        width: 60%;
      }

      @include respond-to("tablet_sm") {
        width: 90%;
        font-size: clamp(6px, 12 / 1024 * 100vw, 24px);
      }

      @include respond-to("tablet") {
        font-size: clamp(6px, 12 / 1100 * 100vw, 24px);
      }

      @include respond-to("lg") {
        font-size: clamp(6px, 12 / 1200 * 100vw, 24px);
      }

      @include respond-to("2xl") {
        font-size: clamp(6px, 12 / 1280 * 100vw, 24px);
      }

      @include respond-to("xl") {
        font-size: clamp(6px, 12 / 1360 * 100vw, 24px);
      }

      @include respond-to("2xl") {
        font-size: clamp(6px, 12 / 1520 * 100vw, 24px);
      }

      @include respond-to("3xl") {
        font-size: clamp(6px, 12 / 1680 * 100vw, 24px);
      }

      @include respond-to("4xl") {
        font-size: clamp(6px, 12 / 1920 * 100vw, 24px);
      }

      @include respond-to("5xl") {
        font-size: clamp(6px, 12 / 2560 * 100vw, 24px);
      }

      @include respond-to("6xl") {
        font-size: clamp(6px, 12 / 3840 * 100vw, 24px);
      }
    }
  }
}
.about_pc {
  &__card {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    flex: 1;
    @apply mt-4;

    @include respond-to("xl") {
      gap: 2rem;
    }

    &__item {
      @apply p-4;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      min-height: 320px;
      border-radius: 16px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    &__title {
      @apply font-bold;
      @apply text-center;
      min-height: 56px;
      font-size: clamp(9px, 18 / 360 * 100vw, 36px);

      @include respond-to("tablet_sm") {
        font-size: clamp(9px, 18 / 1024 * 100vw, 36px);
      }

      @include respond-to("tablet") {
        font-size: clamp(9px, 18 / 1100 * 100vw, 36px);
      }

      @include respond-to("lg") {
        font-size: clamp(9px, 18 / 1200 * 100vw, 36px);
      }

      @include respond-to("2xl") {
        font-size: clamp(9px, 18 / 1280 * 100vw, 36px);
      }

      @include respond-to("xl") {
        font-size: clamp(9px, 18 / 1360 * 100vw, 36px);
      }

      @include respond-to("2xl") {
        font-size: clamp(9px, 18 / 1520 * 100vw, 36px);
      }

      @include respond-to("3xl") {
        font-size: clamp(9px, 18 / 1680 * 100vw, 36px);
      }

      @include respond-to("4xl") {
        font-size: clamp(9px, 18 / 1920 * 100vw, 36px);
      }

      @include respond-to("5xl") {
        font-size: clamp(9px, 18 / 2560 * 100vw, 36px);
      }

      @include respond-to("6xl") {
        font-size: clamp(9px, 18 / 3840 * 100vw, 36px);
      }
    }
    &__paragraph {
      @apply text-base;
      @apply text-center;
      display: flex;
      min-height: 100px;
      align-items: start;
      text-align: center;
      width: 80%;

      @include respond-to("tablet_sm") {
        width: 90%;
        font-size: clamp(6px, 12 / 1024 * 100vw, 24px);
      }

      @include respond-to("tablet") {
        font-size: clamp(6px, 12 / 1100 * 100vw, 24px);
      }

      @include respond-to("lg") {
        font-size: clamp(6px, 12 / 1200 * 100vw, 24px);
      }

      @include respond-to("2xl") {
        font-size: clamp(6px, 12 / 1280 * 100vw, 24px);
      }

      @include respond-to("xl") {
        font-size: clamp(6px, 12 / 1360 * 100vw, 24px);
      }

      @include respond-to("2xl") {
        font-size: clamp(6px, 12 / 1520 * 100vw, 24px);
      }

      @include respond-to("3xl") {
        font-size: clamp(6px, 12 / 1680 * 100vw, 24px);
        width: 70%;
      }

      @include respond-to("4xl") {
        font-size: clamp(6px, 12 / 1920 * 100vw, 24px);
      }

      @include respond-to("5xl") {
        font-size: clamp(6px, 12 / 2560 * 100vw, 24px);
      }

      @include respond-to("6xl") {
        font-size: clamp(6px, 12 / 3840 * 100vw, 24px);
      }
    }
  }
}
