@import "@shared/styles/mixins";
@import "@shared/styles/variables";

.button {
  width: clamp(105px, 210 / 360 * 100vw, 420px);
  height: clamp(22.5px, 45 / 360 * 100vw, 90px);
  font-family: "Montserrat";
  transition: 0.3s all;
  @apply text-base;
  @apply rounded-full;

  &:hover {
    @apply text-white;
    @apply bg-hover;
  }

  @include respond-to("xxs") {
    width: clamp(105px, 210 / 390 * 100vw, 420px);
    height: clamp(22.5px, 45 / 390 * 100vw, 90px);
  }

  @include respond-to("xs") {
    width: clamp(105px, 210 / 480 * 100vw, 420px);
    height: clamp(22.5px, 45 / 480 * 100vw, 90px);
  }

  @include respond-to("sm") {
    width: clamp(105px, 210 / 720 * 100vw, 420px);
    height: clamp(22.5px, 45 / 720 * 100vw, 90px);
  }

  @include respond-to("es") {
    width: clamp(105px, 210 / 860 * 100vw, 420px);
    height: clamp(22.5px, 45 / 860 * 100vw, 90px);
  }

  @include respond-to("md") {
    width: clamp(90px, 180 / 992 * 100vw, 360px);
    height: clamp(22.5px, 45 / 992 * 100vw, 90px);
  }

  @include respond-to("tablet_sm") {
    width: clamp(90px, 180 / 1024 * 100vw, 360px);
    height: clamp(22.5px, 45 / 1024 * 100vw, 90px);
  }

  @include respond-to("tablet") {
    width: clamp(90px, 180 / 1100 * 100vw, 360px);
    height: clamp(22.5px, 45 / 1100 * 100vw, 90px);
  }

  @include respond-to("lg") {
    width: clamp(90px, 180 / 1200 * 100vw, 360px);
    height: clamp(22.5px, 45 / 1200 * 100vw, 90px);
    @apply text-sm;
  }

  @include respond-to("2lg") {
    width: clamp(105px, 210/ 1280 * 100vw, 420px);
    height: clamp(22.5px, 45 / 1280 * 100vw, 90px);
  }

  @include respond-to("xl") {
    width: clamp(115px, 230 / 1360 * 100vw, 460px);
    height: clamp(22.5px, 45 / 1360 * 100vw, 90px);
  }

  @include respond-to("2xl") {
    width: clamp(115px, 230 / 1520 * 100vw, 460px);
    height: clamp(22.5px, 45 / 1520 * 100vw, 90px);
  }

  @include respond-to("3xl") {
    width: clamp(115px, 230 / 1680 * 100vw, 460px);
    height: clamp(22.5px, 45 / 1680 * 100vw, 90px);
  }

  @include respond-to("4xl") {
    width: clamp(115px, 230 / 1920 * 100vw, 460px);
    height: clamp(22.5px, 45 / 1920 * 100vw, 90px);
  }

  @include respond-to("5xl") {
    width: clamp(100px, 200 / 2560 * 100vw, 400px);
    height: clamp(22.5px, 45 / 2560 * 100vw, 90px);
  }

  @include respond-to("6xl") {
    width: clamp(115px, 230 / 3840 * 100vw, 460px);
    height: clamp(22.5px, 45 / 3840 * 100vw, 90px);
  }
}

.button--filled {
  @apply text-white;
  @apply bg-main;
}

.button--outline {
  @extend .button;
  border: 2px solid;
  @apply border-main;
  @apply text-main;
}
