@import "@shared/styles/mixins";
@import "@shared/styles/variables";
.service {
  width: 90%;
  // height: 53.5vh;
  // overflow-y: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  @apply mt-14;
  @apply mb-14;
  position: relative;

  &__heading {
    @apply font-bold;
    @apply text-center;
    font-size: clamp(14px, 24 / 360 * 100vw, 46px);
  }
  &__img {
    position: absolute;
    z-index: -10;
  }
}
