@import "@shared/styles/mixins";
@import "@shared/styles/variables";
.application__cards {
  width: 100%;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  @apply mt-8 gap-8;
  @apply bg-white;
}
.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 16px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  @apply p-8;
  &__items {
    @apply mt-4;
    display: flex;
    flex-direction: column;
    align-items: center;
    @apply gap-4;
    width: 80%;
    &__item {
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      &__heading {
        @apply font-bold;
        @apply text-center;
        font-size: clamp(8px, 16 / 360 * 100vw, 332x);

        @include respond-to("tablet_sm") {
          font-size: clamp(8px, 16 / 1024 * 100vw, 32px);
        }

        @include respond-to("tablet") {
          font-size: clamp(8px, 16 / 1100 * 100vw, 32px);
        }

        @include respond-to("lg") {
          font-size: clamp(8px, 16 / 1200 * 100vw, 32px);
        }

        @include respond-to("2xl") {
          font-size: clamp(8px, 16 / 1280 * 100vw, 32px);
        }

        @include respond-to("xl") {
          font-size: clamp(8px, 16 / 1360 * 100vw, 32px);
        }

        @include respond-to("2xl") {
          font-size: clamp(8px, 16 / 1520 * 100vw, 32px);
        }

        @include respond-to("3xl") {
          font-size: clamp(8px, 16 / 1680 * 100vw, 32px);
        }

        @include respond-to("4xl") {
          font-size: clamp(8px, 16 / 1920 * 100vw, 32px);
        }

        @include respond-to("5xl") {
          font-size: clamp(8px, 16 / 2560 * 100vw, 32px);
        }

        @include respond-to("6xl") {
          font-size: clamp(8px, 16 / 3840 * 100vw, 32px);
        }
      }
    }
    &__name {
      @apply font-bold;
      @apply text-center;
      font-size: clamp(9px, 18 / 360 * 100vw, 36px);

      @include respond-to("tablet_sm") {
        font-size: clamp(9px, 18 / 1024 * 100vw, 36px);
      }

      @include respond-to("tablet") {
        font-size: clamp(9px, 18 / 1100 * 100vw, 36px);
      }

      @include respond-to("lg") {
        font-size: clamp(9px, 18 / 1200 * 100vw, 36px);
      }

      @include respond-to("2xl") {
        font-size: clamp(9px, 18 / 1280 * 100vw, 36px);
      }

      @include respond-to("xl") {
        font-size: clamp(9px, 18 / 1360 * 100vw, 36px);
      }

      @include respond-to("2xl") {
        font-size: clamp(9px, 18 / 1520 * 100vw, 36px);
      }

      @include respond-to("3xl") {
        font-size: clamp(9px, 18 / 1680 * 100vw, 36px);
      }

      @include respond-to("4xl") {
        font-size: clamp(9px, 18 / 1920 * 100vw, 36px);
      }

      @include respond-to("5xl") {
        font-size: clamp(9px, 18 / 2560 * 100vw, 36px);
      }

      @include respond-to("6xl") {
        font-size: clamp(9px, 18 / 3840 * 100vw, 36px);
      }
    }
    &__text {
      @apply text-base;
      @apply text-center;
      font-size: clamp(6px, 12 / 360 * 100vw, 24px);

      @include respond-to("tablet_sm") {
        width: 60%;
        font-size: clamp(6px, 12 / 1024 * 100vw, 24px);
      }

      @include respond-to("tablet") {
        font-size: clamp(6px, 12 / 1100 * 100vw, 24px);
      }

      @include respond-to("lg") {
        font-size: clamp(6px, 12 / 1200 * 100vw, 24px);
      }

      @include respond-to("2xl") {
        font-size: clamp(6px, 12 / 1280 * 100vw, 24px);
      }

      @include respond-to("xl") {
        font-size: clamp(6px, 12 / 1360 * 100vw, 24px);
      }

      @include respond-to("2xl") {
        font-size: clamp(6px, 12 / 1520 * 100vw, 24px);
      }

      @include respond-to("3xl") {
        font-size: clamp(6px, 12 / 1680 * 100vw, 24px);
        width: 70%;
      }

      @include respond-to("4xl") {
        font-size: clamp(6px, 12 / 1920 * 100vw, 24px);
      }

      @include respond-to("5xl") {
        font-size: clamp(6px, 12 / 2560 * 100vw, 24px);
      }

      @include respond-to("6xl") {
        font-size: clamp(6px, 12 / 3840 * 100vw, 24px);
      }
    }
  }
}
