@import "@shared/styles/mixins";
@import "@shared/styles/variables";

.process {
  &__list {
    @apply mt-8;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.process_pc {
  &__list {
    @apply mt-6;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }
}
